/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.wrap-content-panel {
  .mat-expansion-panel-content,
  .mat-expansion-panel-body {
    overflow: visible !important;
    white-space: normal !important;
    word-wrap: break-word !important;
  }
}
